/* common style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 52px;
    color:	#03002e;
}
h2{
    font-size: 38px;
    color:	#03002e;
    text-align: center;
}
h3{
    font-size: 28px;  
}


/* header style */
nav{
    display: flex;
    position: relative;
}
.nav-bar{
    color: white;
    background-color: 	#010048;
    height: 94px;
    border: none;
    border-radius: 2px;
    padding: 0 100px 0 100px;
    align-items: center;
    justify-content: space-between;
}
.nav-bar p{
    font-size: 24px;
    font-weight: 700;
}
.nav-bar .menu{
    display: flex;
    align-items: center;  
}
.nav-bar .menu ul{
    list-style: none;
}
.nav-bar .menu ul li{
    font-size: 16px;
    font-weight: 700;
}
.nav-bar .menu ul li a{
    color: white;
    align-items: center;
    text-decoration: none; 
    margin-right: 20px;  
}
.nav-bar .menu i{
    margin-right: 20px;
}
/* header style end */
/* intro style start*/

.introductions{
    display: flex;
}
.intro-description{
    width: 60%;
    padding-left: 100px;
}
.intro-pic{
    display: flex;
    padding-right: 100px;
}
button{
    color: white;
    font-weight: 700;
    height: 44px;
    width: 196px;
    background-color: #c92e0b;
    border-radius: 25px;

}
button:hover{
    background-color:#010048 ;
    transition: 2s ease-in-out;
}
hr{
    border: 1px solid gray;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
/* intro style end */
/* products collection style */
.productions{
    width: 80%;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
}
.productions{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-left: 50px;
}
.production{
    box-shadow: 5px 5px 40px gray;
    border-radius: 10px;
    margin: 10px 20px;
}
.product-pic img{
    width: 100%;
    border-radius: 5px;
}
.product-details{
    padding-left: 15px;
}
.fa-star{
    font-size: 16px;
    color:#FB8200;
}
.fa-star.empty{
    color:gray;
}
.no-border-button{
    color: #d3220b;
    font-weight: 700;    
    padding-right: 100px;
    float: right;
    justify-content: space-between;
}
/* product collection style end */
/* last section start*/
.registration{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}
#product {
    width: 20%;
    padding-left: 100px; 
    float: left;
}
#product img{
    border-radius: 5px;
}
#service{
    width: 60%;
    padding-left: 100px; 
    padding-right: 100px;
    float: right;
}

/* last section end */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.footer-bar{
    height: 180px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: 	#010048;
    border: none;
    border-radius: 2px;
    padding: 0 100px 0 100px;
}
footer h3{
    color: white;
}
/* Media Qurie */
/*----------------
 For Mobile Device 
 ------------------*/
 @media only screen and (max-width:688px){
    .container{
        width:100%;
    } 
    .introductions, .productions, .registration{
         grid-template-columns: repeat(1, 1fr);
     } 
       
     .productions{
        flex-direction: column;
     }
 }
 @media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width:100%;
    } 
    .introductions, .registration{
        grid-template-columns: repeat(1, 1fr);
    }
    .productions{
    grid-template-columns: repeat(2, 1fr);
 }
}